:root {
    --bg-dark: #0a0b1e;
    --purple-main: #3b3a8a;
    --purple-light: #5239cc;
    --text-white: #f5f5f5;
    --gray-text: #b0b0b0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    scroll-margin-left: var(--text-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}

nav {
    background-color: var(--purple-main);
    padding: 10px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.brand {
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
    color: var(--text-white);
}

.nav-links {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}

.nav-links a {
    color: var(--text-white);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    opacity: 0.8;
}

.nav-links .active {
    background-color: #3C096C;
    padding: 5px 15px;
    border-radius: 20px;
}

.hero-section {
    background-color: #e0e0e0;
    height: 250px;
    display: flex;
    background-image: url("img/alley.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: #666;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.main-content {
    background-color: var(--bg-dark);
    flex-grow: 1;
    padding: 60px 20px;
    text-align: center;
    border: 2px solid #1a1c3d;
    margin: 0 5px;
}

.about-title {
    font-size: 28px;
    margin-bottom: 15px;
    color: #f5f5f5;
}

.about-text {
    color: var(--gray-text);
    max-width: 600px;
    margin: 0 auto 100px auto;
    color: var(--gray-text);
}

.join-info {
    margin-top: 40px;
    color: var(--gray-text);
    font-size: 40px;
    font-weight: bold;
}

.ip-text {
    font-weight: bold;
    font-size: 50px;
}

footer {
    background-color: var(--purple-main);
    color: var(--text-white);
    text-align: center;
    padding: 15px 0;
}

.footer-btn {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    background-color: var(--purple-light);
    color: white;
    border: none;
    padding: 8px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-hover {
    background-color: #333;
}

.copyright {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 3px;
}